* {
  text-align: center;
  font-family: 'Amatic SC', cursive;
}
h1 {
  margin-top: 75px;
  font-size: 200px;
}
h3 {
  margin-top: -125px;
  font-size: 35px;
}
img {
  display: block;
  margin: 0 auto;
  padding: 50px 0;
  max-width: 80%;
  max-height: 80%;
}